
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div>
    <form action="~/Order/Order/search" method="get">
        <table class="table table-striped">
            <tr>
                <td>訂單查詢</td>
                <td></td>
            </tr>
            <tr>
                <td>訂單編號</td>
                <td>@Html.TextBox("OrderId")</td>
            </tr>
            <tr>
                <td>客戶名稱</td>
                <td>@Html.TextBox("CustName")</td>
            </tr>
            <tr>
                <td>負責員工</td>
                <td>@Html.DropDownList("EmpId", (List<SelectListItem>)ViewBag.Employee_select)</td>
            </tr>
            <tr>
                <td>出貨公司</td>
                <td>@Html.DropDownList("ShipperId", (List<SelectListItem>)ViewBag.Shipper_select)</td>
            </tr>
            <tr>
                <td>訂購日期</td>
                <td><input type="date" name="OrderDate" /></td>
            </tr>
            <tr>
                <td>出貨日期</td>
                <td><input type="date" name="ShippedDate" /></td>
            </tr>
            <tr>
                <td>需要日期</td>
                <td><input type="date" name="RequireDdate" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="查詢" />
                    <input type="reset" value="清除" />
                </td>
            </tr>
        </table>
    </form>
</div>